@import "normalize.styl"
@import "fonts.styl"

gris_oscuro = #333333
gris_claro = #818181
rojo = #BD255B
a
	text-decoration none
body
	font-family 'Varela Round', sans-serif
	font-size 16px
figure
	margin 0
img
	vertical-align top

//buttons
.button-menu
	color gris_oscuro
	left .5em
	margin-top -8px
	position absolute
	top 50%
//oocss classes
.container
	padding 1.4em
	text-align center
.action
	color #FFFFFF
	font-size 1.25em
	margin-right 1em
	&:last-child 
		margin-right 0
	&.gray
		color gris_oscuro
.actions
	background rgba(black, .3)
	bottom 0
	left 0
	position absolute
	right 0		
.border-bottom
	border-bottom 1px solid gris_claro
.name
	color gris_oscuro
.menu	
	display none
.relative
	position relative	
.author
	color gris_claro
.center-block
	margin 0 auto
.center-text
	text-align center
.right-tex
	text-align  right
.padding
	padding 1em
.padding-tb
	padding 1em 0
.left
	float left
.right
	float right
.wrap
	width 1000px
.round
	border-radius 50%
	overflow hidden
.progress
	margin 1em 0
	position relative
	.min 
	.max
		font-size .8em
		position absolute
	.min		
		left 0
		top -4px
	.max
		right 0
		top -4px
	.total
		background gris_claro
		height 5px
		margin 0 auto
		width 75%
	.state
		background rojo
		height 5px
		width 30%
	.circle
		background gris_oscuro
		border-radius 50%
		height 10px
		position absolute
		right 0
		top -2px
		width 10px
.header
	// a 
	// 	display none		
	height 3.62em
	.title
		font-size 1.18em
		line-height 3.62em
		margin 0	
		position absolute
		text-align center
		top 0
		width 100%	
.song
	display inline-block
	margin-bottom 1em
	margin-right 1em
	text-align left
	width 8em  //128/16	
	&:nth-child(even)
		margin-right 0
	p
		margin 0.5em 0
		

.playing 
	//display none
	&.small
		width 20em
		
.input
	border 1px solid gris_claro
	height 2.5em
	border-radius 5px
	padding 0 1em 0 2em

.icon-search
	position absolute
	left .5em
	top .8em


@media screen and (min-width:480px)	
	.song
		&:nth-child(even)
			margin-right 1em
	.image
		img
			width 100%
			height auto
	.playing
		&.medium
			width auto
			

@media screen and (min-width:1000px)	
	.button-menu
		display none
	.header
		height auto
		.title
			display none
	.isotipo
		width 122px
	.logo
		overflow:hidden
		padding 1.3em 0
	.avatar
		height 38px
		width 38px
	.username
		color #818181;
		margin-left .5em
		margin-top .7em		
		&:after
			border-left 7px solid transparent
			border-right 7px solid transparent			
			border-top 9px solid gris_claro
			content ""
			display inline-block
			margin-left .4em
		